<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block title %}<title>Books Notes</title>{% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-between"
         style="background-color: black; color: white; font-size: 20px; height: 50px; align-items: center">
        <div class="col-sm-4">
            <a href="/" style="text-decoration: none; color: white; padding-left: 10px">Books Notes</a>
        </div>
        <div class="col-sm-4">
            <a href="{% url "admin:index" %}" style="text-decoration: none; color: white; padding-left: 10px; float: right">login</a>
        </div>

    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>