{% extends "base.html" %}
{% block title %}<title>Books Notes| {{ object.get_name }}</title>{% endblock %}
{% block content %}
    <div class="col-md-6">
        {% if book_name and book_review %}
            <div class="card" style="width: 18rem; margin-top: 15px">
                <div class="card-body">
                    <h5 class="card-title">{{ book_name.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Статус - {{ object.get_reading_status }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Всего версий - {{ object.get_versions_count }}</h6>
                    <p class="card-text">{{ book_review.review }}</p>
                </div>
            </div>
        {% else %}
            <p>Этот язык еще не добавлен</p>
        {% endif %}
    </div>
{% endblock %}