{% extends "base.html" %}

{% block content %}
    <div class="col-md-6">
        {% for book in object_list %}
            <div class="card" style="width: 18rem; margin-top: 15px">
                <div class="card-body">
                    <h5 class="card-title">{{ book.get_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Статус - {{ book.get_reading_status }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Всего версий - {{ book.get_versions_count }}</h6>
                        <p class="card-text">{{ book.get_review }}</p>
                        <a href="{% url "book_detail" book.pk %}?lang=en" class="card-link">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}